.App {
  padding: 2rem;
}
.title {
  font-size: 1.25rem;
  text-align: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  100vh;
}

.login-btn{
  width: 300px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  align-content: center;
}

.revenue {
  flex: 1;
  border: 1px solid blue;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: max-content;
}
.revenue1{
  color:brown;
  border-radius: 12px;
  border: 1px solid brown;
}

.revenue2{
  color:blue;
  border-radius: 12px;
  border: 1px solid blue;
}

.chart-container {
  flex: 2;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: stretch;
    
  }
  .revenue {
      order: 1; 
      margin-bottom: 20px; 
      text-align: center;
      padding: 0 20px;
  }
  .chart-container {
      order: 2; 
  }
  .graph{
    align-items: stretch;
  }
}
